<!DOCTYPE html>
<html lang="en">
<head>
<title>User Profile</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="favicon.ico">
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>

<link rel="stylesheet"
	href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet"
	href="../assets/plugins/font-awesome/css/font-awesome.css">

<link id="theme-style" rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
	<div class="wrapper">
		<div class="input-group searchbar">
			<input type="text" class="form-control"
				placeholder="Please enter movie name or actor names..." ng-model="#">
			<span class="input-group-btn"> <a class="btn btn-default"
				type="button" ng-click="#" style="margin-top: 0px"> <span
					class="glyphicon glyphicon-search"></span>
			</a>
			</span>
		</div>
	</div>

	<div class="bottom"></div>

	<div class="wrapper">
		<div class="sidebar-wrapper">
			<div class="profile-container">
				<img class="photo" src="../assets/images/user-photo.png" alt="" />
				<h1 class="name">User Name</h1>
				<ul class="list-unstyled contact-list">
					<li class="email"><i class="fa fa-envelope"></i><a
						href="mailto: example@email.com">example@email.com</a></li>
					<li class="phone"><i class="fa fa-phone"></i><a
						href="tel:(000) 000-0000">(000) 000-0000</a></li>
				</ul>
				<ul class="list-unstyled follow-list">
					<li class="following"><i class="material-icons">people</i><a
						href="#">Following (120)</a></li>
					<li class="follower"><i class="material-icons">people_outline</i><a
						href="#">Follower (300)</a></li>
				</ul>
			</div>
			<!--//profile-container-->
			
			<ul class="option-menu">
				<li class="block"><input type="checkbox" name="item" id="item2" />
					<label for="item2"><i aria-hidden="true" class="icon-film"></i>
						Videos <span>1,034</span></label>
					<ul class="options">
						<li><a href="#"><i aria-hidden="true" class="icon-movie"></i>
								My Videos <span>7</span></a></li>
						<li><a href="#"><i aria-hidden="true"
								class="icon-download"></i> My Downloaded Videos <span>3</span></a></li>
						<li><a href="#"><i aria-hidden="true"
								class="icon-warning"></i> My Well Dodgy Videos <span>1,024</span></a></li>
					</ul></li>
					<li class="block"><input type="checkbox" name="item" id="item3" />
					<label for="item3"><i aria-hidden="true" class="icon-film"></i>
						Videos <span>1,034</span></label>
					<ul class="options">
						<li><a href="#"><i aria-hidden="true" class="icon-movie"></i>
								My Videos <span>7</span></a></li>
						<li><a href="#"><i aria-hidden="true"
								class="icon-download"></i> My Downloaded Videos <span>3</span></a></li>
						<li><a href="#"><i aria-hidden="true"
								class="icon-warning"></i> My Well Dodgy Videos <span>1,024</span></a></li>
					</ul></li>
			</ul>
		</div>
		<!--//side-wrapper-->

		<div class="main-wrapper">

			<section class="section summary-section">
				<h2 class="section-title">
					<i class="fa fa-user"></i>About Me
				</h2>
				<div class="summary">
					<p>This is my third year in Northeastern and I am major in
						Computer Science combines Mathematics. I am interested in back-end
						development, however, Math seems more attractive for me. I really
						enjoying solving math problems. In daily life, I like Sudoku,
						badminton and Taekwondo. I will pursue MIS master degree in the
						future.</p>
				</div>
			</section>
			<!--//section-->

			<section class="section summary-section">
				<h2 class="section-title">
					<i class="fa fa-graduation-cap"></i> <a
						href="https://he-ranran-webdev.herokuapp.com/assignment/index.html#!/">WebDev
						Assignment Summer1 2017</a>
				</h2>
			</section>
			<!--//section-->

			<section class="section projects-section">
				<h2 class="section-title">
					<i class="fa fa-archive"></i>Projects
				</h2>
				<div class="item">
					<p class="project-title">
						<a href="https://rollingfood.herokuapp.com">Food Delivery
							Management System</a> <a class="fa fa-github pull-right"
							href="https://github.com/gurge3/RollingFoodDeliverySystem">GitHub</a>
					</p>
					<p class="project-subtitle">An online food delivery
						ordering/managmement system</p>
					<img class="img-responsive"
						src="assets/images/Project-RollingFood.png" alt="" />
				</div>
				<!--//item-->

				<div class="item">
					<p class="project-title">3D Ray Tracer</p>
					<p class="project-subtitle">3D scene with OpenGL</p>
					<img class="img-responsive"
						src="../assets/images/Project-RayTracer.png" alt="" />
				</div>
				<!--//item-->

				<div class="item">
					<p class="project-title">3D Animation</p>
					<p class="project-subtitle">3D Animation scene with OpenGL</p>
					<img class="img-responsive"
						src="assets/images/Project-Scenegraphs.png" alt="" />

				</div>
				<!--//item-->
			</section>
			<!--//section-->
		</div>
		<!--//main-body-->

	</div>

	<!-- Javascript -->
	<script type="text/javascript"
		src="assets/plugins/jquery-1.11.3.min.js"></script>
	<script type="text/javascript"
		src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>-->
<!--<link href="assignment/css/style.css" rel="stylesheet"/>-->
<!--<meta charset="UTF-8">-->
<!--<title>Web Dev Course Home Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 align="center">Web Dev Course Home Page</h1>-->

<!--<div class="container-fluid push-down">-->

<!--<div class="col-sm-6 withBorder">-->
<!--<a href="project/index.html"><h3 align="center">Project</h3></a>-->
<!--</div>-->
<!--<div class="col-sm-6 withBorder">-->
<!--<a href="assignment/index.html"><h3 align="center">Assignment</h3></a>-->
<!--</div>-->
<!--<div class="col-sm-6 withBorder">-->
<!--<a href="test/index.html"><h3 align="center">Test MongoDB</h3></a>-->
<!--</div>-->
<!--<div class="col-sm-6 wi">-->
<!--<a href="https://github.com/cangxuexiao/He-Ranran-webdev">-->
<!--<h3 align="center">Your public repository at GitHub.com</h3>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
