<style type="text/css">
body {
	background: #f7f7f7;
}
</style>
<div class="content">
	<div class="dy_main">
		<div class="name">
			<span>{{model.movie.name}}</span> <label>{{model.movie.score}}</label>
		</div>
		<div class="m_left">

			<div class="dy_info">
				<img class="poster" src="{{model.movie.poster}}">
				<div class="tetx">
					<span>Director: {{model.movie.director}}</span> <span>Year:
						{{model.movie.date}}</span> <span>Duration: {{model.movie.time}}
						min</span> <span>Language: {{model.movie.language}}</span><span>Level:
						{{model.movie.level}}</span><span>Country: {{model.movie.country}}</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="botn">
				<a href=""><img src="../../assets/img/add.png">Add to
					playlist</a> <a href=""><img src="../../assets/img/add.png">Add
					to playlist</a> <a href="">Recommend to Friend</a>
			</div>
		</div>

		<div class="m_right">
			<div class="tag">
				<a href="#overview"><span>Overview</span></a> <span>Movie
					Time&Tickets</span> <span>Reviews</span>
			</div>
			<div>
				<div class="vedio">
					<img src="../assets/img/vedio_img.png"> <span>Trailer
						1</span>
				</div>
				<ul class="s_vimg">
					<li class="act"><img src="assets/img/s_vimg.png"><img
						src="assets/img/act_top.png" class="act_img"></li>
					<li class="ml30"><img src="assets/img/s_vimg.png"><img
						src="assets/img/act_top.png" class="act_img"></li>
					<li class="ml30"><img src="assets/img/s_vimg.png"><img
						src="assets/img/act_top.png" class="act_img"></li>
				</ul>
			</div>

		</div>
		<div class="clear"></div>
	</div>
	<div class="dy_main">
		<div class="title" id="overview">Description</div>
		<p>{{model.movie.description}}</p>
	</div>
	<div class="dy_main">
		<div class="title">CAST+CREW</div>
		<div class="slide">
			<a href="" class="slide_left"><img
				src="assets/img/slide_left.png"></a> <a href=""
				class="slide_right"><img src="assets/img/slide_right.png"></a>
			<ul class="slide_ul">
				<li><img src="assets/img/slide_img1.png"><span>Ryan
						Gosling</span></li>
				<li><img src="assets/img/slide_img2.png"><span>Ryan
						Gosling</span></li>
				<li><img src="assets/img/slide_img1.png"><span>Ryan
						Gosling</span></li>
				<li><img src="assets/img/slide_img2.png"><span>Ryan
						Gosling</span></li>
				<li><img src="assets/img/slide_img1.png"><span>Ryan
						Gosling</span></li>
				<li><img src="assets/img/slide_img2.png"><span>Ryan
						Gosling</span></li>
				<li><img src="assets/img/slide_img1.png"><span>Ryan
						Gosling</span></li>
				<li><img src="assets/img/slide_img2.png"><span>Ryan
						Gosling</span></li>
			</ul>
		</div>
	</div>
	<div class="dy_main">
		<div class="title">Movie Reviews</div>
		<div class="pj">
			<span>Add Your Review</span>
			<div class="star">
				<img src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img
					src="assets/img/star_act.png"> <img src="assets/img/star.png">
				<label>Rate</label>
			</div>
			<textarea class="textarea"></textarea>
			<button type="button" class="post">Post</button>
		</div>
		<div class="mo_info fl">
			<div class="date">January 25,2018</div>
			<p>A sad existential story. To believe that you are special, to
				find out that you are nothing special, and that you are no longer
				attached to the special or not, that is the meaning, free will is
				the original sin of all such films, and it is also a routine. "It's
				good...</p>
			<a href="" class="mo_link">>Full Review</a> <img
				src="assets/img/s_img.png"><a href="">Ben</a>
		</div>
		<div class="lr fl"></div>
		<div class="mo_info fl">
			<div class="date">January 25,2018</div>
			<p>A sad existential story. To believe that you are special, to
				find out that you are nothing special, and that you are no longer
				attached to the special or not, that is the meaning, free will is
				the original sin of all such films, and it is also a routine. "It's
				good...</p>
			<a href=" " class="mo_link">>Full Review</a> <img
				src="assets/img/s_img.png"><a href="">Ben</a>
		</div>
		<div class="clear"></div>
		<div class="mo_info fl">
			<div class="date">January 25,2018</div>
			<p>A sad existential story. To believe that you are special, to
				find out that you are nothing special, and that you are no longer
				attached to the special or not, that is the meaning, free will is
				the original sin of all such films, and it is also a routine. "It's
				good...</p>
			<a href="" class="mo_link">>Full Review</a> <img
				src="assets/img/s_img.png"><a href="">Ben</a>
		</div>
		<div class="lr fl"></div>
		<div class="clear"></div>
	</div>
	<div class="dy_main" style="margin-bottom: 25px;">
		<div class="title">Movie Time&Tickets</div>
		<div class="link">
			<a href="">AMC</a>
		</div>
	</div>
</div>