
<style type="text/css">
body {
	background: #f7f7f7;
}
</style>
<link rel="stylesheet" href="assets/css/swiper.min.css">
<div class="content">
	<div class="dy_main">
		<!-- The Modal -->
		<div id="recommendToFriends" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div ng-if="model.success"
					 class="alert alert-success alert-dismissible" role="alert">
					{{model.success}}
				</div>
				<span class="close closeRecommend">&times;</span>
				<ul class="list-ul clearfix">
					<li ng-repeat="follower in model.follower">
						<dl class="clearfix">
							<dt>
								<a href="#!/user/{{follower.follower}}"><img
										src="../../assets/img/head.png"></a>
							</dt>
							<button ng-click="model.recommend(follower.follower)"
									style="float: right"
									class="btn btn-primary">
								Recommend
							</button>
							<dd>
								<a href="#!/user/{{follower.follower}}">
									<p class="tit">
										Name: {{follower.user_name}}
									</p>
								</a>
								<a href="#!/user/{{follower.follower}}"><p
									class="tit">ID: {{follower.follower}}</p></a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>

		</div>

		<div id="addToPlayLists" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div ng-if="model.success"
					 class="alert alert-success alert-dismissible" role="alert">
					{{model.success}}
				</div>
				<span class="close closePlaylists">&times;</span>
				<ul class="list-ul clearfix">
					<li ng-repeat="playList in model.playLists">
						<button ng-click="model.addToPlaylist(playList.id)"
								style="float: right"
								class="btn btn-primary btn-block">
							{{playList.name}}
						</button>
					</li>
				</ul>
			</div>

		</div>
		<div class="name">
			<span>{{model.movie.name}}</span> <label>{{model.movie.score}}</label>
		</div>
		<div class="m_left">
			<div class="dy_info">
				<img class="poster" src="{{model.movie.poster}}">
				<div class="tetx">
					<span>Director: {{model.movie.director}}</span> <span>Year:
						{{model.movie.date}}</span> <span>Duration: {{model.movie.time}}
						min</span> <span>Language: {{model.movie.language}}</span><span>Level:
						{{model.movie.level}}</span><span>Country: {{model.movie.country}}</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="botn">
				<a id="playListsBtn" ng-click="model.showModal('addToPlayLists', 'playListsBtn', 'closePlaylists')">
					<img src="../../assets/img/add.png">
					Add to playlist
				</a>
				<a id="recommendBtn" ng-click="model.showModal('recommendToFriends', 'recommendBtn', 'closeRecommend')">
					Recommend To Friends
				</a>
			</div>
		</div>


		<div class="m_right">
			<iframe width="420" height="315" ng-src="{{model.getUrl()}}"
				frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="dy_main">
	<div class="title" id="overview">Description</div>
	<p>{{model.movie.description}}</p>
</div>
<div class="dy_main">
	<div class="title">CAST+CREW</div>
	<div class="slide">
		<a href="" class="slide_left"><img src="assets/img/slide_left.png"></a>
		<a href="" class="slide_right"><img
			src="assets/img/slide_right.png"></a>
		<ul class="slide_ul">
			<li ng-repeat="actor in model.actors track by $index"><img
				src="assets/img/slide_img1.png"><span>{{actor}}</span></li>
		</ul>
	</div>
</div>
<div class="dy_main">
	<div class="title">Movie Reviews</div>
	<div class="pj">
		<div class="col-md-12 col-sm-12 botn">
			<div ng-if="model.reviewError" class="alert alert-danger">{{model.reviewError}}</div>
		</div>
		<span>Add Your Review</span>
		<div class="xzw_starBox">
			<ul class="star stars">
				<li><a ng-click="model.giveRate(1)" href="javascript:void(0)"
					title="1" class="one-star">1</a></li>
				<li><a ng-click="model.giveRate(2)" href="javascript:void(0)"
					title="2" class="two-stars">2</a></li>
				<li><a ng-click="model.giveRate(3)" href="javascript:void(0)"
					title="3" class="three-stars">3</a></li>
				<li><a ng-click="model.giveRate(4)" href="javascript:void(0)"
					title="4" class="four-stars">4</a></li>
				<li><a ng-click="model.giveRate(5)" href="javascript:void(0)"
					title="5" class="five-stars">5</a></li>
			</ul>
			<div class="current-rating showb"></div>
		</div>
		<textarea ng-model="review" class="textarea"></textarea>
		<button ng-click="model.review(review)" type="button" class="post">Post</button>
	</div>

	<div class="mo_info fl comment_line"
		ng-repeat="comment in model.comments">
		<div class="date">
			{{comment.date}} <label>{{comment.score}}</label>
		</div>
		<p class="wrap">{{comment.review}}</p>
		<img src="assets/img/s_img.png"><a href="">{{comment.username}}</a>

	</div>
	<div class="clear"></div>
</div>
<div class="dy_main" style="margin-bottom: 25px;">
	<div class="title">Movie Time&Tickets</div>
	<div class="link">
		<a href="https://www.amctheatres.com/">AMC</a>
	</div>
</div>
<!-- {{model.similarMovies}} -->
<div class="dy_main">
	<div class="title">Similar Movies</div>
	<div class="movieList">
		<ul class="movies" ng-repeat="movie in model.similarMovies">
			<li class="item"><a ng-click="$window.location.reload()" onclick="window.scrollTo(0,0)" href="#!/movie/{{movie.id}}"><img
					class="cover img-responsive" ng-src="{{movie.poster}}" />
					<h5 class="movie-title">
						<span>{{movie.score}}</span>{{model.cutString(movie.name)}}
					</h5></a></li>
		</ul>

	</div>
	<a href="" class="more moreRlated">View More</a>
	<div class="space"></div>
</div>
<div class="space"></div>

<script type="text/javascript" src="../../assets/js/jquery-carousel.js"></script>
<script type="text/javascript" src="../../assets/js/swiper.min.js"></script>