<div class="wraper">
	<div class=" container">
		<div class="searchbar">
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Categories <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="#">Category</a></li>
			    <li><a href="#">Category</a></li>
			    <li><a href="#">Category</a></li>
			  </ul>
			</div>
			<div class="searchbox">
				<input type="text" class="searchinput" placeholder="Search moives, users ..." name="">
			</div>
		</div>

	</div>
	<div class="container">

		<section class="movie-section">
			<h2 class="section-title">
				<i class="glyphicon glyphicon-film"></i> New
				<span class="more">View More</span>
			</h2>

			<ul class="movies">
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name <span class="grade">4.0</span></h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name</h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name <span class="grade">4.0</span></h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name</h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name <span class="grade">4.0</span></h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name</h5>
				</li>
			</ul>
		</section>

		<section class="movie-section">
			<h2 class="section-title">
				<i class="glyphicon glyphicon-film"></i> Top Rated
				<span class="more">View More</span>
			</h2>

			<ul class="movies">
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name <span class="grade">4.0</span></h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name</h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name <span class="grade">4.0</span></h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name</h5>
				</li>
			</ul>
		</section>

		<section class="movie-section">
			<h2 class="section-title">
				<i class="glyphicon glyphicon-film"></i> Hot
				<span class="more">View More</span>
			</h2>

			<ul class="movies">
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name <span class="grade">4.0</span></h5>
				</li>
				<li class="item">
					<img class="cover img-responsive" src="../../assets/images/Death_Note.jpg" alt="">
					<h5 class="movie-title">Movie Name</h5>
				</li>
			</ul>
		</section>

		<section class="movie-section">
			<h2 class="section-title">
				<i class="glyphicon glyphicon-film"></i> Contact Us
			</h2>

			
		</section>

	</div>
</div>
