<style type="text/css">
	body{
		background: #f7f7f7;
	}
</style>
<div class="main clearfix w-1000">
	<div class="left-box fl">
		<div class="cf">
			<div class="head-img tc"><img src="../../assets/img/head.png"></div>
			<p class="user-name">Runner1</p>
			<div class="user-btn mt20">
				<a href="" class="edit btns"><img src="../../assets/img/edit-icon.png">Edit Profile</a>
			</div>
			<div class="user-btn">
				<a href="" class="users btns"><img src="../../assets/img/user-icon.png">Remove User</a>
			</div>
		</div>
		<div class="follow-box mt15">
			<ul class="follow-list">
				<li>
					<img src="../../assets/img/love-icon.png">
					<span class="ml10">Follow</span>
					<span class="fr gray-color">100</span>
				</li>
				<li>
					<img src="../../assets/img/follower.png">
					<span class="ml10">Follower</span>
					<span class="fr gray-color">20</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="right-box fr">
		<div class="cf">
			<div class="m-search clearfix">
				<input type="text" class="m-search-input" placeholder="Search movies,users...">
				<a href="javascript:;" class="m-search-btn">
					<i class="icon-search"></i>
				</a>
			</div>	
		</div>
		<div class="cf mt15">
			<div class="m-list">
				<div class="m-list-top">
					<span class="font-28">Want-to-see Movies</span>
				</div>
				<ul class="m-list-ul clearfix">
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img01.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Geostorm <i class="color-red">4.0</i></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img02.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Blade Runner <i class="color-red">4.0</i></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img03.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Last Flag Flying <i class="color-red">4.0</i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="cf mt15">
			<div class="m-list">
				<div class="m-list-top">
					<span class="font-28">Favorite Movies</span>
				</div>
				<ul class="m-list-ul clearfix">
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img01.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Geostorm <i class="color-red">4.0</i></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img02.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Blade Runner <i class="color-red">4.0</i></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img03.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Last Flag Flying <i class="color-red">4.0</i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="cf mt15">
			<div class="m-list">
				<div class="m-list-top">
					<span class="font-28">Public Movie Watchlist1</span>
				</div>
				<ul class="m-list-ul clearfix">
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img01.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Geostorm <i class="color-red">4.0</i></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img02.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Blade Runner <i class="color-red">4.0</i></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" target="_blank">
							<img src="../../assets/img/img03.jpg">
							<span class="m-time">01:48:58</span>
							<span class="m-title">Last Flag Flying <i class="color-red">4.0</i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
