<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Search</title>
<link rel="stylesheet" type="text/css" href="../../assets/css/search.css">
</head>
<body>
	<div id='searchBar'>
		
			<h1>Search</h1>
			<div class="input-group search-container">
			    <!-- <form>
			      <input type="text" placeholder="Search.." name="search" ng-model="searchTerm">
			      <button type="submit" ng-click="model.search(searchTerm)">Submit</button>
			    </form> -->
			    <input type="text" class="form-control"
					placeholder="Please enter movie name or actor names..." ng-model="searchTerm">
				<span class="input-group-btn"> <a class="btn btn-default"
					type="button" ng-click="model.search(searchTerm)" style="margin-top: 0px"> <span
						class="glyphicon glyphicon-search"></span>
				</a>
				</span>
			</div>
			
	</div>
	<div id='default' ng-show="model.defaultView">		
		
		<div id='new'>
			<div class="section">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i>New
				</h2>
				<div ng-repeat="x in model.movies" class='movieBox'>
					<img class="cover" src={{x.image}} alt="" />
					<h5 class="movie-title">{{x.name}}</h5>
				</div>
			</div>	
		</div>
		<br/>
		<br/>
		<div id='topRated'>
			<div class="section">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i>Top Rated
				</h2>
				<div ng-repeat="x in model.movies" class='movieBox'>
					<img class="cover" src={{x.image}} alt="" />
					<h5 class="movie-title">{{x.name}}</h5>
				</div>
			</div>	
		</div>
		<br/>
		<br/>
		<div id='hot'>
			<div class="section">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i>Hot
				</h2>
				<div ng-repeat="x in model.movies" class='movieBox'>
					<img class="cover" src={{x.image}} alt="" />
					<h5 class="movie-title">{{x.name}}</h5>
				</div>
			</div>	
		</div>
		<div class="buff"></div>
		
	</div>
	<div id='results' ng-show="!model.defaultView">
		<div id='movieResults'>
			<div class="section">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i>Movies
				</h2>
				<div ng-repeat="x in model.movies" class='movieBox'>
					<img class="cover" src={{x.image}} alt="" />
					<h5 class="movie-title">{{x.name}}</h5>
				</div>
			</div>	
		</div>
		<br/>
		<br/>
		<div id='userResults'>
			<div class="section">
				<h2 class="section-title">
					<i class="material-icons">people</i>Users
				</h2>
				<div ng-repeat="x in model.movies" class='movieBox'>
					<img class="cover" src={{x.image}} alt="" />
					<h5 class="movie-title">{{x.name}}</h5>
				</div>
			</div>	
		</div>
		<div class="buff"></div>
	</div>
	
</body>
</html>