<div class="bottom"></div>

<div class="wrapper">
	<div class="sidebar-wrapper">
		<div class="profile-container">
			<img class="photo" src="../../assets/images/user-photo.png" alt="" />
			<h1 class="name">{{model.user.username}}</h1>
			<ul class="list-unstyled contact-list">
				<li class="email"><i class="fa fa-envelope"></i> <a
					href="mailto:{{model.user.email}}">{{model.user.email}}</a></li>
				<li class="phone"><i class="fa fa-phone"></i><a
					href="tel:{{model.user.phone}}">{{model.user.phone}}</a></li>
			</ul>
			<ul class="list-unstyled follow-list">
				<li class="following"><i class="material-icons">people</i><a
					href="#">Following (120)</a></li>
				<li class="follower"><i class="material-icons">people_outline</i><a
					href="#">Follower (200)</a></li>
			</ul>
		</div>
		<!--//profile-container-->

		<ul class="option-menu">
			<li class="block"><input type="checkbox" name="item" id="item1" />
				<label for="item1"><i aria-hidden="true"></i> Manage My
					Profile </label>
				<ul class="options">
					<li><a href="#"><i aria-hidden="true"></i> My Address </a></li>
					<li><a href="#"><i aria-hidden="true"></i> Change
							Passwords </a></li>
				</ul></li>
			<li class="block"><input type="checkbox" name="item" id="item2" />
				<label for="item2"><i aria-hidden="true"></i> My Movie Lists
			</label>
				<ul class="options">
					<li><a href="#"><i aria-hidden="true"></i> My Favorite
							Movies </a></li>
					<li><a href="#"><i aria-hidden="true"></i> Want to See
							Movies </a></li>
					<li><a href="#"><i aria-hidden="true"></i> Action Movies </a></li>
				</ul></li>
		</ul>
	</div>
	<!--//side-wrapper-->

	<div class="main-wrapper">
		<section class="movie-section">
			<a href="">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i> My Favorite Movies
				</h2>
			</a>

			<ul class="movies">
				<li>
					<div class="item">
						<img class="cover img-responsive"
							src="../../assets/images/Death_Note.jpg" alt="" />
						<h5 class="movie-title">Movie Name</h5>
					</div>
				</li>
				<li>
					<div class="item">
						<img class="cover img-responsive"
							src="../../assets/images/Death_Note.jpg" alt="" />
						<h5 class="movie-title">Movie Name</h5>
					</div>
				</li>
			</ul>
		</section>
		<!--//section-->

		<div class="bottom"></div>

		<section class="movie-section">
			<a href="">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i> Want to See Movies
				</h2>
			</a>
			<ul class="movies">
				<li>
					<div class="item">
						<img class="cover img-responsive"
							src="../../assets/images/Death_Note.jpg" alt="" />
						<h5 class="movie-title">Movie Name</h5>
					</div>
				</li>
			</ul>
		</section>

		<div class="bottom"></div>

		<section class="movie-section">
			<a href="">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i> Recommended Movies
				</h2>
			</a>
			<ul class="movies">
				<li>
					<div class="item">
						<img class="cover img-responsive"
							src="../../assets/images/Death_Note.jpg" alt="" />
						<h5 class="movie-title">Movie Name</h5>
					</div>
				</li>
			</ul>
		</section>

		<div class="bottom"></div>

		<section class="movie-section">
			<a href="">
				<h2 class="section-title">
					<i class="glyphicon glyphicon-film"></i> Friends' Suggestions
				</h2>
			</a>
			<ul class="movies">
				<li>
					<div class="item">
						<img class="cover img-responsive"
							src="../../assets/images/Death_Note.jpg" alt="" />
						<h5 class="movie-title">Movie Name</h5>
					</div>
				</li>
			</ul>
		</section>
	</div>
	<!--//main-body-->
</div>
