<div class="wrapper">
	<div class="sidebar-wrapper">
		<div class="profile-container">
			<img class="photo" src="../../assets/images/user-photo.png" alt="" />
			<h1 class="name">
				{{model.user.username}} <a href=""
					ng-if="!model.isOwner && !model.isFollowing"> <i
					ng-click="model.follow()" class="fa fa-heart-o"></i>
				</a> <a href="" ng-if="!model.isOwner && model.isFollowing"> <i
					id="unfollow" ng-click="model.unfollow()" class="fa fa-heart"></i>
				</a>
			</h1>
			<ul class="list-unstyled contact-list">
				<li class="email"><i class="fa fa-envelope"></i> <a
					href="mailto:{{model.user.email}}">{{model.user.email}}</a></li>
				<li class="phone"><i class="fa fa-phone"></i><a
					href="tel:{{model.user.phone}}">{{model.user.phone}}</a></li>
			</ul>
			<ul class="list-unstyled follow-list tabs">
				<li class="following"><i class="material-icons">people</i> <a
					href="#following">Following {{model.following.length}}</a></li>
				<li class="follower"><i class="material-icons">people_outline</i>
					<a href="#follower"><i aria-hidden="true"></i>Follower
						{{model.follower.length}}</a></li>
			</ul>
		</div>

		<!-- //profile-container -->
		<ul class="option-menu">
			<li
				ng-show="model.currentUserLevel == 0 && model.currentUserId == model.user.id"
				class="dashHome block"><input type="checkbox" name="item"
				id="item3" /> <label for="item3"><i aria-hidden="true"></i>
					Dashboard </label>
				<ul class="options tabs">
					<li class="user_man"><a href="#dash1"><i
							aria-hidden="true"></i> User Management </a></li>
					<li class="movie_man"><a href="#dash2"><i
							aria-hidden="true"></i> Movie Management </a></li>
					<li class="system_man"><a href="#dash3"><i
							aria-hidden="true"></i> System Environment </a></li>
				</ul></li>
			<li ng-show="model.isOwner || model.currentUserLevel == '0'"
				class="block"><input type="checkbox" name="item" id="item1" />
				<label for="item1"> <i aria-hidden="true"></i> Manage My
					Profile
			</label>
				<ul class="options tabs">
					<li><a href="#profile1" target="_self"> <i
							aria-hidden="true"></i> My Information
					</a></li>
					<li><a href="#profile2"> <i aria-hidden="true"></i> Change
							Passwords
					</a></li>
				</ul></li>

			<li class="block"><input type="checkbox" name="item" id="item2" />
				<label for="item2"> <i aria-hidden="true"></i> My Movie
					Lists <a href="#tab8"></a>
			</label>
				<ul class="options tabs">
					<li ng-show="model.isOwner"><a href="#addlist"> <i
							aria-hidden="true"></i> <i class="glyphicon glyphicon-plus"></i>
							Add New List
					</a></li>
					<li><a href=""><i aria-hidden="true"></i> Friends Recommended Movies</a></li>
					<li ng-repeat="playList in model.playLists"><a href=""><i
						aria-hidden="true"></i> {{playList.name}}</a></li>
				</ul></li>
		</ul>
	</div>
	<!-- side-wrapper -->

	<div class="main-wrapper">
		<!-- START DASHBOARD SECTION -->

		<!-- START USER MANAGEMENT -->
		<section class="dash-section" id="dash1">
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">
				<div class="row">
					<div class="col-md-12">

						<!-- START DEFAULT DATATABLE -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h1 class="panel-title">
									User Management <span>Total User #: {{model.userSum}}</span>
								</h1>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table datatable">
										<thead>
											<tr>
												<th ng-repeat="(i,th) in userHead"
													ng-class="selectedUserCls(i)"
													ng-click="changeSorting('user', i)"><a href="">{{th}}</a><img
													src="assets/images/sort.jpg"></th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody ng-repeat="user in uItems | orderBy: userOrder">
											<tr>
												<!-- ID -->
												<td>{{user.id}}</td>
												<!-- Name -->
												<td><a href="#!/user/{{user.id}}"
													onclick="window.scrollTo(0,0)">{{user.username}}</a></td>

												<!-- Email -->
												<td>{{user.email}}</td>
												<!-- Phone -->
												<td>{{user.phone}}</td>
												<!-- Status -->
												<td><span ng-show="user.isOnline == true"
													class="label label-success">Online</span> <span
													ng-show="user.isOnline == false" class="label label-danger">Offline</span></td>
												<!-- Level -->
												<td>{{user.level}}</td>
												<!-- Last Login -->
												<td>{{user.lastLogin}}</td>
												<td>
													<button
														class="btn btn-default btn-rounded btn-condensed btn-sm">
														<span class="fa fa-pencil"></span>
													</button>
													<button
														class="btn btn-danger btn-rounded btn-condensed btn-sm">
														<span class="fa fa-times"
															ng-click="model.deleteUser(user.id)"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
									<nav>
										<ul class="pagination">
											<li><a ng-click="Previous()"
												onclick="window.scrollTo(0,0)"> <span>Previous</span>
											</a></li>
											<li ng-repeat="page in pageList"
												ng-class="{active: isActivePage(page)}"><a
												ng-click="selectPage(page)" onclick="window.scrollTo(0,0)">{{
													page }}</a></li>
											<li><a ng-click="Next()" onclick="window.scrollTo(0,0)">
													<span>Next</span>
											</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END USER MANAGEMENT -->

		<!-- START MOVIE MANAGEMENT -->
		<section class="dash-section" id="dash2">
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">
				<div class="row">
					<div class="col-md-12">

						<!-- START DEFAULT DATATABLE -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h1 class="panel-title">
									Movie Management <span>Total Movie #: {{model.movieSum}}</span>
								</h1>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table datatable">
										<thead>
											<tr>
												<th ng-repeat="(i,th) in movieHead"
													ng-class="selectedMovieCls(i)"
													ng-click="changeSorting('movie', i)"><a href="">{{th}}</a><img
													src="assets/images/sort.jpg"></th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody ng-repeat="movie in mItems | orderBy: movieOrder">
											<tr>
												<!-- ID -->
												<td>{{movie.id}}</td>
												<!-- Name -->
												<td><a href="#!/movie/{{movie.id}}"
													onclick="window.scrollTo(0,0)">{{movie.name}}</a></td>
												<!-- Rate -->
												<td>{{movie.score}}</td>
												<!-- Level -->
												<td>{{movie.level}}</td>
												<!-- Year -->
												<td>{{movie.date}}</td>
												<!-- Duration -->
												<td>{{movie.time}}</td>
												<!-- Language -->
												<td>{{movie.language}}</td>
												<!-- Country -->
												<td>{{movie.country}}</td>
												<td>
													<button
														class="btn btn-default btn-rounded btn-condensed btn-sm">
														<span class="fa fa-pencil"></span>
													</button>
													<button
														class="btn btn-danger btn-rounded btn-condensed btn-sm">
														<span class="fa fa-times"
															ng-click="model.deleteMovie(movie.id)"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
									<nav>
										<ul class="pagination">
											<li><a ng-click="Previous()"
												onclick="window.scrollTo(0,0)"> <span>Previous</span>
											</a></li>
											<li ng-repeat="page in pageList"
												ng-class="{active: isActivePage(page)}"><a
												ng-click="selectPage(page)" onclick="window.scrollTo(0,0)">{{
													page }}</a></li>
											<li><a ng-click="Next()" onclick="window.scrollTo(0,0)">
													<span>Next</span>
											</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END USER MANAGEMENT -->

		<!-- START SYSTEM ENVIRONMENT -->
		<section class="dash-section" id="dash3">
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">
				<div class="row">
					<div class="col-md-12">

						<!-- START DEFAULT DATATABLE -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h1 class="panel-title">System Environment</h1>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>Field</th>
												<th>Value</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<!-- Field -->
												<td>Available processor (cores)</td>
												<!-- Value -->
												<td>{{model.overallInfo['Available processor
													(cores)']}}</td>
												<td class="blinking">Running</td>
											</tr>
											<tr>
												<!-- Field -->
												<td>Free memory (bytes)</td>
												<!-- Value -->
												<td>{{model.overallInfo['Free memory (bytes)']}}</td>
												<td class="blinking">Running</td>
											</tr>
											<tr>
												<!-- Field -->
												<td>Maximum Memory (bytes)</td>
												<!-- Value -->
												<td>{{model.overallInfo['Maximum Memory (bytes)']}}</td>
												<td class="blinking">Running</td>
											</tr>

											<tr>
												<!-- Field -->
												<td>Total Memory Available to JVM (bytes)</td>
												<!-- Value -->
												<td>{{model.overallInfo['Total Memory Available to JVM
													(bytes)']}}</td>
												<td class="blinking">Running</td>
											</tr>

											<tr>
												<!-- Field -->
												<td>Current Log File Size (bytes)</td>
												<!-- Value -->
												<td>{{model.overallInfo['Current Log File Size']}}</td>
												<td class="blinking">Running</td>
											</tr>
											<tr>
												<!-- Field -->
												<td>File System Root</td>
												<!-- Value -->
												<td>{{model.root['File System Root']}}</td>
												<td class="blinking">Running</td>
											</tr>
											<tr>
												<!-- Field -->
												<td>Free Space (bytes)</td>
												<!-- Value -->
												<td>{{model.root['Free Space (bytes)']}}</td>
												<td class="blinking">Running</td>
											</tr>
											<tr>
												<!-- Field -->
												<td>Usable Space (bytes)</td>
												<!-- Value -->
												<td>{{model.root['Usable Space (bytes)']}}</td>
												<td class="blinking">Running</td>
											</tr>
											<tr>
												<!-- Field -->
												<td>Total Space (bytes)</td>
												<!-- Value -->
												<td>{{model.root['Total Space (bytes)']}}</td>
												<td class="blinking">Running</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SYSTEM ENVIRONMENT -->
		<!-- START USER STATUS -->
		<section class="dash-section" id="dash2"></section>
		<!-- END DASHBOARD SECTION -->

		<!-- Movie Section Starts -->
		<!-- Summary Section Starts -->
		<section class="movieSummary-section"
			ng-repeat="playList in model.playLists">
			<ul class="tabs">
				<li>
					<h2 class="section-title">
						<i class="glyphicon glyphicon-film"></i>
						{{playList.name}}
						<button ng-show="model.isOwner"
								style="float: right" class="btn btn-danger"
								ng-click="model.deletePlaylist(playList.id)">
							Delete Playlist
						</button>
					</h2>
				</li>
			</ul>
			<ul class="movies">
				<li class="item" ng-repeat="movie in playList.movies"><a
					href="#!/movie/{{movie.movieId}}" onclick="window.scrollTo(0,0)"> <img
						class="cover img-responsive" ng-src="{{movie.poster}}" />
						<h5 class="movie-title">
							<span>{{movie.score}}</span> {{model.cutString(movie.name)}}
						</h5>
				</a></li>
			</ul>
		</section>

		<section class="movieSummary-section">
			<ul class="tabs">
				<li><h2 class="section-title">
							<i class="glyphicon glyphicon-film"></i> Friends Recommended
							Movies
						</h2></li>
			</ul>
			<ul class="movies" ng-show="model.friendRecomMoviesNum != 0">
				<li class="item" ng-repeat="movie in model.friendRecomMovies"><a
					href="#!/movie/{{movie.movie.movieId}}" onclick="window.scrollTo(0,0)"><img
						class="cover img-responsive" ng-src="{{movie.movie.poster}}" />
						<h5 class="movie-title">
							<span>{{movie.movie.score}}</span>{{model.cutString(movie.movie.name)}}
						</h5></a></li>
			</ul>
			<div class="movies empty" ng-show="model.friendRecomMoviesNum == 0">Empty
				list.</div>
		</section>
		<!-- Summary Section Ends -->

		<!-- Action Section Starts -->
		<section class="action-section" id="addlist">
			<h2 class="section-title">Add New List</h2>
			<div ng-if="model.error" class="alert alert-danger">
				{{model.error}}</div>
			<div ng-if="model.success"
				class="alert alert-success alert-dismissible" role="alert">
				{{model.success}}</div>
			<div class="form-group">
				<h4 class="title">
					Name: <input ng-model="name" class="form-control" type="text" />
				</h4>
			</div>

			<div class="form-group">
				<h4 class="title">
					Description <input ng-model="description" class="form-control"
						type="text" placeholder="something to say about your new list..." />
				</h4>
			</div>

			<button ng-click="model.createPlayList(name, description)"
				type="submit" class="btn btn-primary btn-block">Submit</button>
			<button class="btn btn-danger btn-block cancel">Cancel</button>
		</section>
		<!-- Movie Section Ends -->

		<!-- My Information Tab -->
		<section class="profile-section" id="profile1">
			<h2 class="section-title">My Information</h2>
			<div ng-if="model.error" class="alert alert-danger">
				{{model.error}}</div>
			<div ng-if="model.success"
				class="alert alert-success alert-dismissible" role="alert">
				{{model.success}}</div>
			<div class="form-group">
				<h4 class="title">
					Username: <input class="form-control" type="text"
						value="{{model.user.username}}" readonly />
				</h4>
			</div>

			<div class="form-group">
				<h4 class="title">
					Level: <input class="form-control" type="text"
						value="{{model.user.level}}" readonly />
				</h4>
			</div>

			<div class="form-group">
				<h4 class="title">
					Email: <input ng-model="newEmail" class="form-control" type="email" />
				</h4>
			</div>

			<div class="form-group">
				<h4 class="title">
					Phone: <input ng-model="newPhone" class="form-control" type="tel" />
				</h4>
			</div>

			<button ng-click="model.updateUserProfile(newEmail, newPhone)"
				type="submit" class="btn btn-primary btn-block">Submit
				Changes</button>
			<button class="btn btn-danger btn-block cancel">Cancel</button>
		</section>

		<!-- Change Password Tab -->
		<section class="profile-section" id="profile2">
			<h2 class="section-title">Change Password</h2>
			<div ng-if="model.error" class="alert alert-danger">
				{{model.error}}</div>
			<div ng-if="model.success"
				class="alert alert-success alert-dismissible" role="alert">
				{{model.success}}</div>
			<div class="form-group">
				<input ng-model="password1" class="form-control"
					placeholder="old password" type="password" />
			</div>

			<div class="form-group">
				<input ng-model="password2" class="form-control"
					placeholder="new password" type="password" />
			</div>

			<div class="form-group">
				<input ng-model="password3" class="form-control"
					placeholder="verify new password" type="password" />
			</div>
			<button
				ng-click="model.updatePassword(password1, password2, password3)"
				type="submit" class="btn btn-primary btn-block">Submit</button>
			<button class="btn btn-danger btn-block cancel">Cancel</button>
		</section>

		<!-- Following Section Starts -->
		<section class="following-section" id="following">
			<h2 class="section-title">
				<i class="material-icons">people</i> Following
			</h2>
			<ul class="list-ul clearfix">
				<li ng-repeat="following in model.following">
					<dl class="clearfix">
						<dt>
							<a href="#!/user/{{following.following}}"><img
								src="../../assets/img/head.png"></a>
						</dt>
						<dd>
							<a href="#!/user/{{following.following}}"><p class="tit">Name:
									{{following.user_name}}</p></a> <a
								href="#!/user/{{following.following}}"><p class="tit">ID:
									{{following.following}}</p></a>
						</dd>
					</dl>
				</li>
			</ul>
			<!-- <a href="javascript:;" target="_blank" class="more">more users &gt;</a> -->
		</section>

		<!-- Follower Section Starts -->
		<section class="follower-section" id="follower">
			<h2 class="section-title">
				<i class="material-icons">people</i> Follower
			</h2>
			<ul class="list-ul clearfix">
				<li ng-repeat="follower in model.follower">
					<dl class="clearfix">
						<dt>
							<a href="#!/user/{{follower.follower}}"><img
								src="../../assets/img/head.png"></a>
						</dt>
						<dd>
							<a href="#!/user/{{follower.follower}}"><p class="tit">Name:
									{{follower.user_name}}</p></a> <a href="#!/user/{{follower.follower}}"><p
									class="tit">ID: {{follower.follower}}</p></a>
						</dd>
					</dl>
				</li>
			</ul>
			<!-- <a href="javascript:;" target="_blank" class="more">more users &gt;</a> -->
		</section>
	</div>
	<!--//main-body-->
</div>