/* styles.css */
/* ======= Base ======= */
/* body {
	font-family: 'Roboto', sans-serif;
	color: #545E6C;
	background: #f5f5f5;
	font-size: 14px;
	padding: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 */
.wrapper h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.wrapper a {
	color: #2d7788;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.wrapper a:hover {
	text-decoration: underline;
	color: #1a454f;
}

.wrapper a:focus {
	text-decoration: none;
}

.wrapper p {
	line-height: 1.5;
}

.bottom {
	margin-bottom: 10px;
}

.searchbar {
	max-width: 80%;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
	/* background: #42A8C0; */
	background: #42A8C0;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
	background: #212121;
	position: absolute;
	left: 0;
	width: 260px;
	height: 100%;
	min-height: 800px;
	color: #fff;
	height: 100%;
	min-height: 1000px;
}

.sidebar-wrapper a {
	color: #fff;
}

/************ profile container **************/
.sidebar-wrapper .profile-container {
	padding: 15px;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
}

.sidebar-wrapper .profile-container .photo {
	height: 150px;
	length: 150px;
}

.sidebar-wrapper .name {
	font-size: 25px;
	font-weight: 900;
	margin-top: 2px;
	margin-bottom: 10px;
}

.sidebar-wrapper .profile-container .name .fa-heart {
	color: red;
}

.sidebar-wrapper .tagline {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.sidebar-wrapper .profile {
	margin-bottom: 15px;
}

.sidebar-wrapper .option-menu .block .options .glyphicon {
	font-size: 15px;
	margin-top: 3px;
	float: right;
	margin-left: 6px;
}

/******** Menu *********/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.option-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

.option-menu .menu {
	display: block;
	text-decoration: none;
}

.option-menu li label {
	background: #575e63;
	border-top: 1px solid #878e98;
	border-bottom: 1px solid #33373d;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	letter-spacing: 0.09em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afb2b3),
		to(#272727));
	background: -webkit-linear-gradient(top, #afb2b3, #272727));
	background: -moz-linear-gradient(top, #afb2b3, #272727));
	background: -ms-linear-gradient(top, #afb2b3, #272727));
	background: -o-linear-gradient(top, #afb2b3, #272727));
}

.option-menu li input[type='checkbox'] {
	display: none;
}

.option-menu li label {
	display: block;
	padding: 12px;
	width: 100%;
}

.option-menu li i {
	font-size: 18px;
	vertical-align: middle;
	width: 20px;
	display: inline-block;
}

.option-menu li span {
	display: inline;
	float: right;
	background: #48515c;
	border: 1px solid #3c434c;
	border-bottom: 1px solid #707781;
	padding: 4px 6px;
	font-size: 10px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: inset 0 0 10px #111;
	-webkit-box-shadow: inset 0 0 10px #111;
	box-shadow: inner 0 0 10px #111;
	position: relative;
}

.option-menu li label:hover {
	background: #566f82; /* fallback colour */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82),
		to(#3e505e));
	background: -webkit-linear-gradient(top, #566f82, #3e505e));
	background: -moz-linear-gradient(top, #566f82, #3e505e));
	background: -ms-linear-gradient(top, #566f82, #3e505e));
	background: -o-linear-gradient(top, #566f82, #3e505e));
}

.option-menu li label:hover span {
	background: #3e505e;
}

.option-menu li input[type='checkbox']:checked ~ label {
	background: #44c6eb; /* fallback colour */
	border-top: 1px solid #878e98;
	border-bottom: 1px solid #2799db;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44c6eb),
		to(#2799db));
	background: -webkit-linear-gradient(top, #44c6eb, #2799db));
	background: -moz-linear-gradient(top, #44c6eb, #2799db));
	background: -ms-linear-gradient(top, #44c6eb, #2799db));
	background: -o-linear-gradient(top, #44c6eb, #2799db));
}

.option-menu li input[type='checkbox']:checked ~ label span {
	background: #2173a1;
	border-top: 1px solid #1b5f85;
	border-bottom: 1px solid #4cb1e4;
	-moz-box-shadow: inset 0 0 5px #111;
	-webkit-box-shadow: inset 0 0 5px #111;
	box-shadow: inner 0 0 5px #111;
}

.option-menu li input[type='checkbox']:checked ~ .options {
	height: auto;
	display: block;
	min-height: 40px;
	max-height: 400px;
}

.option-menu ul {
	margin: 0;
	padding: 0;
	-moz-box-shadow: inset 0 2px 2px #b3b3b3;
	-webkit-box-shadow: inset 0 2px 2px #b3b3b3;
	box-shadow: inner 0 2px 2px #b3b3b3;
}

.option-menu ul li a {
	display: block;
	padding: 6px 12px;
	color: #feffff;
	text-decoration: none;
	background: #c0c0c0;
	border-bottom: 1px solid #fff;
}

.option-menu ul li.cur a {
	background: #44c6eb;
}

.option-menu ul li:last-child a {
	border-bottom: 0;
}

.option-menu ul li a:hover {
	color: #929292;
}

.option-menu ul li a span {
	color: #999;
	background: none;
	border: 1px solid #ccc;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.option-menu ul li:last-child {
	padding-bottom: 6px;
	border: 0;
}

.options {
	height: 0;
	display: block;
	overflow: hidden;
}

/************ contact container **************/
.sidebar-wrapper .contact-list {
	padding: 5px;
	margin-top: 5px;
}

.sidebar-wrapper .contact-list .fa {
	margin-right: 5px;
	font-size: 18px;
	vertical-align: middle;
}

.sidebar-wrapper .contact-list li {
	margin-bottom: 10px;
}

.sidebar-wrapper .contact-list li:last-child {
	margin-bottom: 0;
}

.sidebar-wrapper .contact-list .email .fa {
	font-size: 14px;
}

/************ follow container **************/
.sidebar-wrapper .follow-list .material-icons {
	margin-right: 5px;
	font-size: 18px;
	vertical-align: middle;
}

.sidebar-wrapper .follow-list li {
	margin-bottom: 10px;
}

.sidebar-wrapper .follow-list li:last-child {
	margin-bottom: 0;
}

.main-wrapper {
	background: #fff;
	padding-left: 280px;
	margin-top: 1%;
}

.main-wrapper .section-title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	color: #2d7788;
	padding-top: 3%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #2d7788;
	font-weight: 500;
	margin-bottom: 20px;
}

.main-wrapper .section-title .glyphicon {
	width: 30px;
	height: 30px;
	display: inline-block;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: #2d7788;
	text-align: center;
	padding-top: 8px;
	font-size: 16px;
	position: relative;
	top: -2px;
}

.main-wrapper .section {
	margin-bottom: 60px;
}

.cover {
	height: 200px;
	width: 140px;
}

.detail {
	height: 340px;
	width: 240px;
}

/* .main-wrapper .movie-section {
	margin-left: 30%;
} */
.main-wrapper .movie-section ul, li {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.main-wrapper .movie-section li {
	list-style: none;
}

.main-wrapper .movie-section p {
	float: right;
	vertical-align: bottom;
}

.main-wrapper .movie-section p span {
	color: #e09015;
}

.main-wrapper .movie-section img {
	border: 0;
}

.main-wrapper .movie-section .movies {
	width: 100%;
}

.main-wrapper .movie-section .movies li {
	float: left;
	width: 140px;
	height: 260px;
	margin-right: 15px;
}

.main-wrapper .movie-section ul li h5 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 400;
	color: #2d7788;
	text-align: center;
	width: 140px;
	height: 39px;
	overflow: hidden;
}

.main-wrapper .movie-section ul li h5 span {
	font-size: 16px;
	color: #e09015;
	float: right;
}

.main-wrapper .movieSummary-section p {
	float: right;
	vertical-align: bottom;
}

.main-wrapper .empty {
	text-align: center;
	font-weight: 400;
	font-size: 25px;
	color: grey;
}

.main-wrapper .movieSummary-section p span {
	color: #e09015;
}

.main-wrapper .movieSummary-section ul .item span {
	font-size: 16px;
	color: #e09015;
	float: right;
}

.main-wrapper .movie-section .form-group .title textarea {
	height: 100px;
}

.main-wrapper .movieSummary-section ul, li {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.main-wrapper .movieSummary-section li {
	list-style: none;
}

.main-wrapper .movieSummary-section img {
	border: 0;
}

.main-wrapper .movieSummary-section .movies {
	width: 100%;
	height: 255px;
	overflow: hidden;
}

.main-wrapper .movieSummary-section .movies li {
	float: left;
	width: 140px;
	height: 260px;
	margin-right: 15px;
}

.main-wrapper .movieSummary-section ul li h5 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 400;
	color: #2d7788;
	text-align: center;
	width: 140px;
	height: 39px;
	overflow: hidden;
}

.main-wrapper .movieSummary-section ul .item span {
	font-size: 16px;
	color: #e09015;
	float: right;
}

.main-wrapper .profile-section .title {
	font-size: 17px;
	font-weight: 400;
	color: #2d7788;
	position: relative;
	margin-top: 0;
	margin-bottom: 5px;
}

.main-wrapper .dash-section .panel {
	float: right;
	width: 100%;
	margin-top: 3%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	border-top: 2px solid #E5E5E5;
	/* 	margin-bottom: 20px; */
	position: relative;
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.main-wrapper .dash-section .panel .panel-heading {
	padding: 10px;
}

.main-wrapper .dash-section .panel .panel-heading .panel-title {
	text-transform: uppercase;
	margin-left: 7px;
	font-weight: 500;
	color: #2d7788;
	font-size: 20px;
}

.main-wrapper .dash-section .panel .panel-heading .panel-title span {
	float: right;
}

.main-wrapper .dash-section .panel.panel-default {
	border-top-color: #F5F5F5;
	border-top-width: 1px;
}

.panel .panel-heading, .panel .panel-footer, .panel .panel-body {
	float: left;
	width: 100%;
}

.panel .panel-body {
	padding: 15px;
	position: relative;
}

.main-wrapper .dash-section .panel-body .label {
	font-size: 85%;
}

/* TABLES */
.table-responsive {
	border: 0px;
}

.table-responsive nav {
	position: relative;
	width: 100%;
	height: 50px;
}

.table-responsive .pagination {
	right: 0px;
	position: absolute;
	top: -30px;
}

.table-responsive nav li {
	cursor: pointer;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-color: transparent;
	padding: 16px 20px;
	background: #F0F4F9;
	color: #656C78;
	font-size: 13px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th
	{
	background: #F8FAFC;
}

.table>thead>tr>th {
	background: #FFF;
	color: #333;
	font-size: 12px;
	white-space: nowrap;
	font-weight: 600;
	text-transform: uppercase;
}

.panel-body.panel-body-table {
	padding: 0px;
}

.panel-body.panel-body-table h1, .panel-body.panel-body-table h2,
	.panel-body.panel-body-table h3, .panel-body.panel-body-table h4,
	.panel-body.panel-body-table h5, .panel-body.panel-body-table h6 {
	padding-left: 10px;
	margin-bottom: 10px;
}

.panel-body.panel-body-table .table {
	margin-bottom: 0px;
	border: 0px;
}

.panel-body.panel-body-table .table tr>td:first-child, .panel-body.panel-body-table .table tr>th:first-child
	{
	border-left: 0px;
}

.panel-body.panel-body-table .table tr>td:last-child, .panel-body.panel-body-table .table tr>th:last-child
	{
	border-right: 0px;
}

.panel-body.panel-body-table .table>tbody>tr:last-child>td {
	border-bottom: 0px;
}

.table.table-actions td {
	line-height: 28px;
}

.table .progress-small {
	margin: 7px 0px 8px;
}

.table.table-bordered>thead>tr>th, .table.table-bordered>tbody>tr>th,
	.table.table-bordered>tbody>tr>td {
	border-right: 1px solid #dee7f2;
	border-bottom: 1px solid #dee7f2;
}

.table.table-bordered>thead>tr>th:first-child, .table.table-bordered>tbody>tr>th:first-child,
	.table.table-bordered>tbody>tr>td:first-child {
	border-left: 1px solid #dee7f2;
}

.table.table-bordered>thead>tr>th, .table.table-bordered>tbody>tr>th {
	border-top: 1px solid #dee7f2 !important;
}

.table.table-condensed>thead>tr>th, .table.table-condensed>tbody>tr>th,
	.table.table-condensed>tbody>tr>td {
	padding: 8px 15px;
}

.panel-body div table thead tr th img {
	width: 8px;
	height: 11px;
	margin-left: 3px;
	margin-bottom: 1.5px;
}
/* EOF TABLES */
/* Datatables */
.dataTable {
	float: left;
	margin-bottom: 10px;
}

.dataTable div.checker, .dataTable div.radio {
	display: inherit;
}

.dataTables_wrapper {
	float: left;
	width: 100%;
}

.dataTables_length {
	width: 50%;
	float: left;
	padding: 0px 0px 5px;
}

.dataTables_length label, .dataTables_filter label {
	padding: 0px;
	line-height: 30px;
	height: auto;
	margin: 0px;
	font-size: 12px;
	color: #999999;
	font-weight: 600;
	text-transform: uppercase;
}

.dataTables_length select {
	width: 70px;
	display: inline;
	margin: 0px 5px;
	height: 30px;
	border-color: #CED8E3;
	border-radius: 3px;
	padding: 0px 10px;
}

.dataTables_filter {
	width: 50%;
	float: right;
	padding-left: 5px;
	padding: 0px 0px 5px;
}

.dataTables_filter label {
	float: right;
}

.dataTables_filter label input {
	width: 150px;
	display: inline;
	margin-left: 5px;
	height: 30px;
	border: 1px solid #CED8E3;
	border-radius: 3px;
	padding: 0px 10px;
}

td.dataTables_empty {
	font-size: 11px;
	text-align: center;
	color: #333;
}

.dataTables_info {
	float: left;
	font-size: 12px;
	padding: 0px;
	line-height: 30px;
	padding: 5px 20px;
}

.dataTables_paginate {
	padding: 0px;
	text-align: right;
	float: right;
	padding: 5px 0px;
}

.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_disabled_next,
	.dataTables_paginate a.paginate_button, .paginate_enabled_next,
	.paginate_active, .paginate_enabled_previous {
	padding: 5px 10px;
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: left;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #656d78;
	margin-left: 3px;
	cursor: pointer;
}

.dataTables_paginate .paginate_enabled_next:hover, .dataTables_paginate a.paginate_button:hover,
	.dataTables_paginate .paginate_enabled_previous:hover {
	background-color: #eee;
	border-color: #ddd;
	color: #222;
}

.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover
	{
	background: #33414e;
	color: #FFF;
	border-color: #33414e;
}

.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_button_disabled,
	.dataTables_paginate a.paginate_disabled_next {
	cursor: default;
	color: #ccc;
}

.dataTables_paginate a.paginate_button_disabled:hover {
	box-shadow: none;
	color: #ccc;
}

.sorting_desc, .sorting_asc, .sorting {
	position: relative;
	cursor: pointer;
	padding-right: 20px !important;
}

.sorting:before, .sorting_desc:before, .sorting_asc:before {
	position: absolute;
	top: 18px;
	right: 5px;
	font-family: 'FontAwesome';
	opacity: 0.9;
	filter: alpha(opacity = 90);
	width: 10px;
	height: 10px;
	display: block;
}

.sorting:before {
	content: "\f0dc";
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.sorting_desc:before {
	content: "\f0d8";
}

.sorting_asc:before {
	content: "\f0d7";
}

.sorting_asc_disabled:before, .sorting_desc_disabled:before {
	opacity: 0.1;
	filter: alpha(opacity = 10);
}
/* eof Datatables */

/* Extra small devices (phones, less than 768px) */
@media ( max-width : 767px) {
	.sidebar-wrapper {
		position: static;
		width: inherit;
	}
	.main-wrapper {
		padding: 30px;
	}
}

.blinking {
	animation: blinkingText 1.5s infinite;
	animation-duration: 3s;
}

@
keyframes blinkingText { 0%{
	color: #8cc63f;
}
49%{
color
:
 
transparent
;
 
}
50%{
color
:
 
transparent
;
 
}
99%{
color
:transparent
;
  
}
100%{
color
:
 
#8cc63f
;
    
}
}