<!DOCTYPE html>
<html lang="en" ng-app='webapp'>
<head>
<title>MovieHub</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
<script src="app.js"></script>
<script src="config.js"></script>
<script src="views/user/user.controller.client.js"></script> 

<!-- movie controller -->
<script src="views/movie/movie.controller.client.js"></script>

<!-- for user home page/profile -->
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="assets/plugins/font-awesome/css/font-awesome.css">
<link id="theme-style" rel="stylesheet"
	href="assets/css/userProfile.css">

<!-- For main page -->
<link rel="stylesheet" type="text/css" href="assets/css/homepage.css">
<link rel="stylesheet" type="text/css" href="assets/css/reset-new.css">
<link rel="stylesheet" type="text/css" href="assets/css/style-new.css">
<link rel="stylesheet" type="text/css" href="assets/css/modal.css">

<!-- For movieDetails page -->
<link rel="stylesheet" href="assets/css/movieDetails.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">MovieHub</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="$root.currentUserId == null"><a href="#!/register">
						<span class="glyphicon glyphicon-user"></span> Sign Up
				</a></li>
				<li ng-if="$root.currentUserId == null"><a href="#!/login">
						<span class="glyphicon glyphicon-log-in"></span> Login
				</a></li>
				<li ng-if="$root.currentUserId != null"><a
					href="#!/user/{{$root.currentUserId}}"> <span
						class="glyphicon glyphicon-user"></span> Home
				</a></li>
				<li ng-if="$root.currentUserId != null"><a href="#!/login">
						<span class="glyphicon glyphicon-log-in"></span> Logout
				</a></li>
			</ul>
		</div>
	</nav>

	<div class="m-search clearfix">
		<div class="m-search-gatebox">
			<select class="m-search-gate">
				<option value="1">All</option>
			</select>
		</div>
		<input type="text" class="m-search-input" ng-model="searchTerm"
			placeholder="Please enter movie name or actor names..."> <a
			href='#!/search/{{searchTerm}}' class="m-search-btn"> <i
			class="icon-search"></i>
		</a>
	</div>

	<div class="container" style="padding-bottom: 5%">
		<div ng-view></div>
	</div>

	<nav class="navbar navbar-inverse navbar-fixed-bottom navbar-right">
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="#!/join_us">
                <p>
                    <i style="padding-right:30px">Join Us</i>
                </p>
            </a>
        </div>
	</nav>

</body>
</html>
