<!DOCTYPE html>
<html lang="en" ng-app="MovieApp">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="index.html">Dropdown Placeholder<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="index.html">Page 1-1</a></li>
          <li><a href="index.html">Page 1-2</a></li>
          <li><a href="index.html">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="index.html">Regular Page Placeholder</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="sign_up.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="active"><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
    <h1>Login</h1>
    <form name="loginForm" id="loginForm" novalidate>
        <div class="form-group">
            <input ng-model="username"
                   name="username"
                   class="form-control"
                   placeholder="username"
                   type="text"
                   required/>
        </div>

        <div class="form-group">
            <input ng-model="password"
                   name="password"
                   class="form-control"
                   placeholder="password"
                   type="password"
                   required/>
        </div>
        <button ng-click="model.login(username, password)"
                class="btn btn-primary btn-block"
                type="submit">Login
        </button>

        <a class="btn btn-success btn-block"
           href="register.html">Register</a>
    </form>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom"></nav>

</body>
</html>
